

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-9 mt20">
             {{~it.respList.rows :item:index}}
            

            <div class="col-xs-12 mt10">
              <div class="widget-event">
                <div >
                  <h2 class="h4 title">
                    <a target="_blank"   rel="nofollow" href="/newsinfo/{{=item.objectID}}">{{=item.title}}</a>
                  </h2>
                  
                  <div>{{!item.story_text}}</div>
                  <div>
                    
                    <a class="btn btn-sm btn-default"  href="/opensource/{{=item. repo_full_name}}">{{=item. repo_full_name}}</a>
                    <a class="btn btn-sm "   >@{{=item.author}}</a>
                     </div>


                  
                </div>
                
              </div>
            </div>
            
            {{~}}

                          {{#def.pager}}
        
          </div>
          <div class="col-xs-12 col-md-3 side mt30">
            <div class="widget-box">
              <h2 class="h4 widget-box__title">
       
                
              </h2>
            </div>
          </div>
        </div>
      </div>


