
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">  
<meta name="apple-touch-fullscreen" content="YES">  
<meta name="apple-mobile-web-app-capable" content="yes">  

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">

<meta name="keywords" content="{{=it.seo.keywords}}">
<meta name="description" content="{{=it.seo.description}}">

<title>{{=it.seo.title}}</title>



     <link rel="stylesheet" href="/public/css/global.min.css">
            <link rel="stylesheet" href="/public/css/qaall.min.css">
        <link rel="stylesheet" href="/public/css/responsive.min.css">

<!-- PLACE THIS CODE IN WEBSITE HEADER -->
<!-- nativeads pixel 117481-unknownerror.org start -->
<script type="text/javascript" src="//cpanel.nativeads.com/js/pixel/pixel-117481-ebb6965ac402b640be09d851778635354ca778c9.js"></script>
<!-- nativeads pixel 117481-unknownerror.org end -->
</head>
<body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K2QHJV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K2QHJV');</script>
<!-- End Google Tag Manager -->
<div class="global-nav">
    <nav class="container nav">

        <h1 class="logo"><a href="/">UnknownError</a></h1>
        <form action="/search" class="header-search pull-left">
            <button type="submit" class="btn btn-link"><span class="sr-only">search</span><span class="glyphicon glyphicon-search"></span></button>
            <input style="width: 180px;" id="searchBox" name="q" placeholder="Project search" class="form-control" value="" type="text">
        </form>
<ul class="opts pull-right list-inline ">
  
  <li class="menu__item"><a href="/DeveloperTools/feature">HTML5 feature test </a></li>
            <li class="opts__item">
              
            </li>
                    </ul>

     
    </nav>

</div>

<div class="wrap">

    {{#def.content || ""}}
    
        
       
</div>



<footer id="footer">
<div class="container">

    <div class="copyright">
        Copyright © 2015-2016 UnknownError <br>
        host:<a href=" https://www.digitalocean.com/?refcode=b52274a25ada"> DigitalOcean  Sign up using my link and receive $10 in credit<a/>
    </div>
    <div>frend link <a target="_blank" href="http://www.html-js.com/">html-js</a> <a  target="_blank"  href="https://twitter.com/qqqzhch">Add links</a> </div>
</div>
</footer>

</body>
<script src="/public/js/search.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5184850-4', 'auto');
  ga('send', 'pageview');

</script>
<div style=" width: 450px;height: 250px;position: fixed;    right: 0px;bottom: 5px; z-index: 9999999 ">
<!-- display -->
<!-- BEGIN JS TAG - 300x250 unknownerror.org_W-114018_93986 - DO NOT MODIFY -->
<SCRIPT TYPE="text/javascript">
document.write('<S' + 'CRIPT TYPE="text/javascript" SRC="//exchange.nativeads.com/tag?zone_id=29763&size=300x250&rnd=' + new Number(Math.floor(99999999 * Math.random())+1) + '"></S' + 'CRIPT>');
</SCRIPT>
<!-- END TAG -->
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5210298b1734e189" async="async"></script>
</html>


{{##def.pager:

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                <ul class="pagination">
                    {{for(var pageIndex=it.pager.start;pageIndex<=it.pager.end; pageIndex++ ){}}
                    <li {{?it.pager.now==pageIndex}}class="active" {{??}}{{?}} >
                        <a href="{{=it.pager.pagerUrl}}{{=pageIndex}}">{{=pageIndex}}</a>
                    </li>
                    {{} }}
                    <li class="disabled"><span>allItems:{{=it.pager.allitems}}</span></li>
                    
                </ul>
            </div>
        </div>
#}}

{{##def.leftAD:


#}}
