

<script src="/public/js/shareCode.js"></script>



  <div class="post-topheader">
      <div class="container">
        <div class="row">
          
          <div class="col-md-10 col-xs-10">
            <h1 class="h2 title">
            
              <a>share code to twitter,facebook as a img .markdown supported </a>
            </h1>

            
            <div>
              <a class="pull-right " href="/opensource">more opensource </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-6">
  
          <div>
            <article class="widget-question__item">

<div>
  <div class="question fmt">



    <p>

   <textarea id="codesharetextarea" style="width:506px" placeholder="Enter text here">
<code></code>
<pre></pre> 
   </textarea>
    </p>
  </div>
</div>
              </article>


    
          </div>
          </div>
          <div class="col-xs-6 col-md-6">
                       <div class="widget-answers">
              <h2 class="title h4 mt30 mb20 post-title" id="answers-title">Preview              <a class="btn btn-primary" id="Generated_image">Generated image and downlown</a></h2>
            

          <article class="widget-question__item" id="resultForPreview" style="width:506px">
        
          </div>
          </div>
          </div>
  
        </div>


      </div>
    </div>
          <style type="text/css">
      .container{
       width:100%; 
      }
   textarea{
        width:100%;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
    background:linear-gradient(#F9EFAF, #F7E98D);
    height:100%;
   }
      </style>

